/*======================================= 
    Global Layout
=========================================*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: #68707B;
}

/*======================================= 
    Main Layout
=========================================*/



/*======================================= 
    Media Queries
=========================================*/