/*======================================= 
    Global Layout
=========================================*/

* {
  box-sizing: border-box;
}
body {
  font-family: 'DM Sans', sans-serif;
  color: #68707B;
  text-align: center;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
}
h1, .contact-info h2 {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #68707B;
}
a:hover {
  cursor: pointer;
}
img {
  margin: 0 auto;
  max-width: 500px;
  width: 90%;
}

/*======================================= 
    Main Layout
=========================================*/

#contact, .header-container, .bottom-nav li{
  background: #fafafa;
}
.container {
  margin: 0 auto;
  width: 90%;
}
.header-container {
  padding: 1em 0 3rem 0;
}
h1 {
  font-size: 1.75em;
  padding-bottom: 1rem;
  margin-bottom: 0;
}
.main-nav {
  margin-bottom: 3rem;
}
.top-nav, .bottom-nav {
  list-style-type: none;
}
.nav-bar {
  display: flex;
  flex-direction: column;
}
.top-nav {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.top-nav li {
  margin-bottom: .35rem;
  font-size: .90em;
  font-weight: bold;
  padding: .5rem 0;
  background-color: #fff;
}
header img {
  width: 60%;
}
.space-portfolio {
  padding-bottom: 2rem;
}
.portfolio-flexbox {
  display: flex;
  flex-direction: column;
}
#portfolio, #contact {
  padding: 2rem 0;
}
.col {
  margin: 2rem 0;
}
.bottom-nav {
  height: auto;
}
.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.space-around {
  margin: 0;
  padding: 2rem 0;
}
.hide {
  display: none;
}

/*======================================= 
    Media Queries
=========================================*/

@media (min-width: 768px) {
  .nav-bar {
    align-items: center;
  }
  .top-nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .top-nav li {
    flex: 1 20%;
    background-color: #fafafa;
    margin: 0 1rem;
  }
  .profile-flex {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
  }
  .profile-flex p{
    text-align: left;
    padding-right: 1em;
    margin: 0;
  }
  header img {
    width: 40%;
  }
  .portfolio-flexbox {
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
  }
  .col {
    flex: 1 45%;
    margin: .5rem;
  }
  img {
    width:100%;
  }
  .contact-info {
    margin: 0 auto;
    padding: 1.5rem;
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .nav-bar {
    flex-direction: row;
    justify-content: space-between;
  }
  .top-nav {
    width: 100%;
  }
  .top-nav li {
    margin: 0 1rem;
  }
  .col {
    flex: 1 30%;
    margin: .5rem;
  }
}